<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/style1.css}">
    <link rel="stylesheet" th:href="@{/static/css/menu.css}">
</head>
<body>
<ul class="main-menu">
    <li class="active"><a href="#url">Головна</a></li>
    <li class="menu-children">
        <a href="#url">Послуги</a>
        <ul>
            <li><a href="#url">Продаж</a></li>
            <li><a href="#url">Покупка</a></li>
            <li class="menu-children">
                <a href="#url">Підрозділ</a>
                <ul>
                    <li><a href="#url">Підрозділ 1</a></li>
                    <li><a href="#url">Підрозділ 2</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a th:href="@{/people/home}">Споживач</a>
    </li>
    <li>
        <a th:href="@{/addresses/home}">Адреса</a>
    </li>
    <li><a href="/ьуеук">Лічильники</a></li>
    <li><a href="/auth/logout">Вийти</a></li>
</ul>
<form th:method="POST" th:action="@{/meters/save/{address_id}(address_id=${address_id})}" th:object="${meter}">
    <label for="name">Назва або примітка: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br>
    <label for="number">Номер: </label>
    <input type="text" th:field="*{number}" id="number">
    <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
    <br>
    <input type="submit" value="Зберегти">
</form>

</body>
</html>