<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка реєстрації</title>
    <link rel="stylesheet" th:href="@{/static/css/style1.css}">
    <link rel="stylesheet" th:href="@{/static/css/menu.css}">
</head>
<body>
<ul class="main-menu">
    <li class="active"><a href="#url">Головна</a></li>
    <li class="menu-children">
        <a href="#url">Послуги</a>
        <ul>
            <li><a href="#url">Продаж</a></li>
            <li><a href="#url">Покупка</a></li>
            <li class="menu-children">
                <a href="#url">Підрозділ</a>
                <ul>
                    <li><a href="#url">Підрозділ 1</a></li>
                    <li><a href="#url">Підрозділ 2</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><form th:method="GET" th:action="@{/people/home}">
        <input type="submit" value="Споживач"/>
    </form></li>
    <li><form th:method="GET" th:action="@{/addresses/home}">
        <input type="submit" value="Адреса"/>
    </form></li>
    <li><a href="/ьуеук">Лічильники</a></li>
    <li><a href="/auth/logout">Вийти</a></li>
</ul>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="firstName">Ім`я: </label>
    <input type="text" th:field="*{firstName}" placeholder="Ім`я" id="firstName">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    <br>
    <label for="secondName">Прізвище: </label>
    <input type="text" th:field="*{secondName}" placeholder="Прізвище" id="secondName">
    <div style="color:red" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"></div>
    <br>
    <label for="phone">Телефон: </label>
    <input type="tel" th:field="*{phone}" placeholder="Телефон +380........." id="phone">
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    <br>
    <label for="email">Електронна пошта: </label>
    <input type="email" th:field="*{email}" placeholder="Email" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <input type="submit" value="Зберегти">
</form>

</body>
</html>