<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка користувача</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/menu.css">

</head>
<body>
<ul class="main-menu">
    <li class="active"><a href="#url">Головна</a></li>
    <li class="menu-children">
        <a href="#url">Послуги</a>
        <ul>
            <li><a href="#url">Продаж</a></li>
            <li><a href="#url">Покупка</a></li>
            <li class="menu-children">
                <a href="#url">Підрозділ</a>
                <ul>
                    <li><a href="#url">Підрозділ 1</a></li>
                    <li><a href="#url">Підрозділ 2</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a th:href="@{/people/home}">Споживач</a>
    </li>
    <li>
        <a th:href="@{/addresses/home}">Адреса</a>
    </li>
<!--    <li><a th:href="@{/meters/{id}(id=${})}">Лічильники</a></li>-->
    <li><a href="/auth/logout">Вийти</a></li>
</ul>
<form>
    <p th:text="${person.getFirstName()+ ', '+person.getSecondName()}"></p>
    <p th:text="${person.getPhone()}"></p>
    <p th:text="${person.getEmail()}"></p>
    <div th:each="addres:${address}">
        <p th:text="${addres.getCity()}"></p>

    </div>

    <!--<div th:if="${meters.isEmpty()}">-->
    <!--    <p>У цієї людини не має лічильників.</p>-->
    <!--</div>-->
    <!--<div th:if="${!meters.isEmpty()}">-->
    <!--    <div th:each="meter: ${meters}">-->
    <!--        <a th:href="@{/meters/{id}(id=${meter.getId()})}" th:text="${meter.getNumber()}"></a>-->
    <!--    </div>-->
    <!--</div>-->
<!--    <form th:method="GET" th:action="@{/addresses/{id}(id=${address.getId()})}">-->
<!--        <input type="submit" value="Видалити"/>-->
<!--    </form>-->
</form>
<form th:method="GET" th:action="@{/people/edit/{id}(id=${person.getId()})}">
    <input type="submit" value="Змінити користувача"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Видалити користувача"/>
</form>
<form th:method="GET" th:action="@{/addresses/save/{owner_id}(owner_id=${person.getId()})}">
    <input type="submit" value="Додати адресу"/>
</form>

</body>
</html>