 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адреса</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
</head>
<body>
<div id="header">
    <ul class="main-menu">
        <li class="active"><a href="#url">Головна</a></li>
        <li class="menu-children">
            <a href="#url">Послуги</a>
            <ul>
                <li><a href="#url">Продаж</a></li>
                <li><a href="#url">Покупка</a></li>
                <li class="menu-children">
                    <a href="#url">Підрозділ</a>
                    <ul>
                        <li><a href="#url">Підрозділ 1</a></li>
                        <li><a href="#url">Підрозділ 2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a th:href="@{/people/{id}(id=${person.getId()})}">Споживач</a>
        </li>
        <li>
            <a th:href="@{/addresses/{id}(id=${person.getId()})}">Адреса</a>
        </li>
<!--        <li><a th:href="@{/meters/{id}(id=${address.getOwner()})}">Лічильники</a></li>-->
        <li><a href="http://localhost:8082/index">Увійти/Зареєструватися</a></li>
    </ul>
</div>

<!--    <form>-->
<!--        <p th:text="${'Місто: '+ address.getCity()}"></p>-->
<!--        <p th:text="${'Вулиця: ' + address.getStreet()}"></p>-->
<!--        <p th:text="${'Номер будинку: '+ address.getHouse()+address.getLetter()}"></p>-->
<!--        <p th:text="${'Номер під`їзду: '+ address.getEntrance()}"></p>-->
<!--        <p th:text="${'Номер квартири: '+address.getApartment()}"></p>-->
<!--    </form>-->
<form>
    <table>
        <caption></caption>
        <thead>
        <tr>
            <th>Адреса</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <div th:each="address:${addresses}">
                    <a th:href="@{/meters/{id}(id=${address.getId()})}"
                       th:text="${'Місто '+address.getCity()+', вулиця '+address.getStreet()+', дім '+
        address.getHouse()+address.getLetter()+', під`їзд '+address.getEntrance()+
        ', квартира '+address.getApartment()}"></a>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</form>
<form th:method="GET" th:action="@{/addresses/save/{owner_id}(owner_id=${person.getId()})}">
    <input type="submit" value="Додати адресу">
</form>
<!--    <form th:method="GET" th:action="@{/addresses/edit/{id}(id=${address.getId()})}">-->
<!--        <input type="submit" value="Змінити адресу"/>-->
<!--    </form>-->
<!--    <form th:method="DELETE" th:action="@{/addresses/{id}(id=${address.getId()})}">-->
<!--        <input type="submit" value="Видалити адресу"/>-->
<!--    </form>-->
<!--    <form th:method="GET" th:action="@{/meters/save/{address_id}(address_id=${address.getId()})}">-->
<!--        <input type="submit" value="Додати лічильник"/>-->
<!--    </form>-->

</body>
</html>