<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Показники</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">
    <link rel="stylesheet" th:href="@{../static/css/menu.css}">
</head>
<body>
<ul class="main-menu">
    <li class="active"><a href="#url">Головна</a></li>
    <li class="menu-children">
        <a href="#url">Послуги</a>
        <ul>
            <li><a href="#url">Продаж</a></li>
            <li><a href="#url">Покупка</a></li>
            <li class="menu-children">
                <a href="#url">Підрозділ</a>
                <ul>
                    <li><a href="#url">Підрозділ 1</a></li>
                    <li><a href="#url">Підрозділ 2</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><form th:method="GET" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Споживач"/>
    </form></li>
    <li><form th:method="GET" th:action="@{/addresses/{id}(id=${person.getId()})}">
        <input type="submit" value="Адреса"/>
    </form></li>
    <li><a href="/ьуеук">Лічильники</a></li>
    <li><a href="http://localhost:8082/index">Увійти/Зареєструватися</a></li>
</ul>
<form>
<div th:each="indexes:${indications}">
    <a th:href="@{/templates/indexes/{id}(id=${indexes.getId()})}"
       th:text="${'Номер '+address.getMeter()+', показники '+meter.getIndexes()+', дата '+
        meter.date}"></a>
</div>
</form>
<form th:method="GET" th:action="@{/meters/save}">
    <input type="submit" value="Додати лічильник">
</form>

</body>
</html>